@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
    --card: #fff;
    --card-foreground: #000;
    --popover: #fff;
    --popover-foreground: #000;
    --primary: #F24F00;
    --primary-foreground: #F58A57;
    --secondary: #CCFF33;
    --secondary-foreground: #E4FAA2;
    --muted: #27272a;
    --muted-foreground: #fff;
    --accent: #27272a;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: #000
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: #000;
    --foreground: #fff;
    --card: #000;
    --card-foreground: #fff;
    --popover: #000;
    --popover-foreground: #fff;
    --primary: #F24F00;
    --primary-foreground: #F58A57;
    --secondary: #CCFF33;
    --secondary-foreground: #E4FAA2;
    --muted: #27272a;
    --muted-foreground: #000;
    --accent: #27272a;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: #f3f3f3;
    --ring: 20.5 90.2% 48.2%;
  }
}


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

